---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  icon?: string;
}

const { title, description, icon = 'check-circle' } = Astro.props;
---

<article class="flex gap-4 rounded-lg border border-neutral-200 bg-white p-6">
  <Icon name={`material-symbols:${icon}`} class="flex-none text-3xl text-primary-600" aria-hidden="true" />
  <div>
    <h3 class="text-lg font-semibold text-primary-600">
      {title}
    </h3>
    <p class="mt-2 text-sm text-neutral-600">
      {description}
    </p>
  </div>
</article>
